@media only screen and (min-width: 761px) {
  .full-news article.news-entry {
    border-bottom: 1px solid #ccc;
    font-size: 24px;
  }
  .full-news article.news-entry header {
    background: #eee;
    padding: 1.4rem;
  }
  .full-news article.news-entry section.news-entry-content {
    padding: .7rem 1.4rem;
    overflow: hidden;
  }
  .full-news article.news-entry footer {
    background: #eee;
    padding: .7rem 1.4rem;
  }
  .yanws.side-news {
    margin-bottom: 2rem;
  }
  .yanws.side-news article.news-entry {
    border-top: 1px solid #ccc;
    font-size: 18px;
  }
  .yanws.side-news article.news-entry header {
    background: #eee;
    padding: 1rem;
  }
  .yanws.side-news article.news-entry header h4 {
    font-size: 1em;
  }
  .yanws.side-news article.news-entry header em {
    background: #777;
    color: #eee;
    border-radius: .3em;
  }
  .yanws.side-news article.news-entry section.news-entry-content {
    padding: .4rem .6rem;
    overflow: hidden;
  }
  .yanws.side-news article.news-entry footer {
    padding: 0 .6rem .4rem .6rem;
  }
  .yanws.side-news footer.yanws.news-link {
    border-bottom-left-radius: .4rem;
    border-bottom-right-radius: .4rem;
  }
  .yanws.side-news footer.yanws.news-link a {
    background: #eee;
    border: 1px solid #ccc;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    display: block;
    font-size: 1.4rem;
    text-align: center;
    padding: .6rem;
  }
  .yanws.side-news footer.yanws.news-link a:hover {
    background: #3399cc;
    border-color: #1f5c7a;
    color: #fff;
  }
  .yanws-entry-view {
    font-size: 1.4em;
  }
  .yanws-entry-view article.news-entry header {
    background: #eee;
    padding: 1rem 1.4rem .7rem 1.4rem;
  }
  .yanws-entry-view article.news-entry section.news-entry-content {
    padding: .7rem 1.4rem;
  }
  .yanws-entry-view article.news-entry footer {
    border-top: 1px solid #ccc;
  }
  .yanws-entry-view article.news-entry footer .news-footer-links a {
    display: inline-block;
  }
  .yanws-entry-view article.news-entry footer .news-footer-links a:hover {
    background: #3399cc;
    color: #fff;
  }
  .yanws-entry-view article.news-entry footer .news-footer-links a.prev {
    padding: .7rem 1.4rem;
  }
  .yanws-entry-view article.news-entry footer .news-footer-links a.next {
    padding: .7rem 1.4rem;
    float: right;
  }
}
@media only screen and (max-width: 760px) {
  article.news-entry {
    font-size: 16px;
  }
}
article.news-entry header h2,
article.news-entry header h4 {
  margin-bottom: 0;
}
article.news-entry header em {
  font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
  padding: .3em;
  font-size: .7em;
  float: right;
}
article.news-entry section.news-entry-content {
  font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
  overflow: hidden;
}
article.news-entry section.news-entry-content img {
  margin: 1rem;
}
article.news-entry section.news-entry-content ul {
  padding-left: 2rem;
  list-style: disc;
}
.yanws.feed-empty {
  display: block;
  padding: 3rem 0;
  text-align: center;
}
.yanws.feed-empty p {
  font-size: 3rem;
  text-align: center;
}
