<?php
    $entry = $this->getEntry();
    $links = $this->getLinks();
    $utils = $this->getUtils();
?>

<section class="yanws-entry-view">
    <article class="news-entry">
        <header>
            <em><?= $utils->prettyDate(new DateTime($entry->getTimestampCreated())); ?></em>
            <h2><?= $this->escapeHtml($entry->getTitle()); ?></h2>
        </header>
        <section class="news-entry-content">
            <?= $entry->getArticle(); ?>
        </section>
        <footer>
            <div class="news-footer-links">
                <?php if(!empty($links['prev'])): ?>
                    <a class="prev" href="<?php echo $this->escapeHtml($utils->makeViewUrl($links['prev']->getUrl())); ?>">
                        <?php echo $links['prev']->getTitle() ?></a>
                <?php endif; ?>
                <a class="prev" href="<?php echo $this->escapeHtml($utils->getUrl()); ?>" ><?php echo $this->__('More news'); ?></a>
                <?php if(!empty($links['next'])): ?>
                    <a class="next" href="<?php echo $this->escapeHtml($utils->makeViewUrl($links['next']->getUrl())); ?>">
                        <?php echo $links['next']->getTitle() ?></a>
                <?php endif; ?>
            </div>
        </footer>
    </article>
</section>
